/*
:host() {
  --color: black;
}
:host(.invalid-state) {
  --color: #E60000;
}*/
:host {
  display: inline-grid;
  position: relative;
  margin-top: 32px;

  &.invalid-state {
    input {
      border: 2px solid #E60000;
    }
  }

  .input-label {
    margin-bottom: 4px;
  }

  & input {
    font-size: 16.8px;
    padding-right: 25px;
    padding-left: 16px;
    color: #555555;
    border: solid 1px #888888;
    border-radius: 6px;
    
    &::placeholder {
      font-size: 14px;
      font-style: italic;
      padding-right: 40px;
    }

    &.show-warning {
      & ~ .warning-message {
        display: block;
      }
    }
    &.input-required {
      border-color: #E60000;
      & ~ .feedback-message {
        display: block;
        --color: #E60000;
      }
    }
    &:required {

    }
    &:invalid {
    
    }
    &:valid {
      border-color: #168821;
      & ~ .feedback-message {
        display: block;
        --color: #168821;
      }
    }
    &:disabled {

    }
    &[type="checkbox"]:checked {

    }
  }
  .input__append-icon {
    position: absolute;
    right: 5px;
    top: 25px;
  }
  .feedback-message {
    margin: 8px 0;
    border: 2px solid transparent;
    color: var(--color);
  }

  .warning-message {
    background: #FFCD07 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    top: 53px;
    right: 0;
    margin: 0;
    text-align: left;
    font: italic normal 12px/18px Rawline;
    letter-spacing: 0px;

    img {
      vertical-align: middle;
    }

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 8px;
      border: 5px solid transparent;
      border-bottom-color: #FFCD07;
    }
  }
}