:host {
  display: inline-grid;
  position: relative;

  & input {
    font-size: 16.8px;
    padding-right: 25px;
    padding-left: 16px;
    color: #555555;
    border: solid 1px #888888;
    border-radius: 6px;
    
    &::placeholder {
      font-size: 14px;
      font-style: italic;
      padding-right: 40px;
    }

    &.invalid-input {
      border: 2px solid #E60000;
    }
  }
  img {
    position: absolute;
    right: 3px;
    bottom: 3px;
  }
  
}