/*
:host() {
  --color: black;
}
:host(.invalid-state) {
  --color: #E60000;
}*/
:host {
  display: inline-grid;
  position: relative;

  &.invalid-state {
    input {
      border: 2px solid #E60000;
    }
  }

  & input {
    font-size: 16.8px;
    padding-right: 25px;
    padding-left: 16px;
    color: #555555;
    border: solid 1px #888888;
    border-radius: 6px;
    
    &::placeholder {
      font-size: 14px;
      font-style: italic;
      padding-right: 40px;
    }

    &.show-warning {
      & ~ .warning-message {
        display: block;
      }
    }
    &.input-required {
      & ~ .error-message {
        display: block;
      }
    }

  }
  .input__append-icon {
    position: absolute;
    right: 5px;
    top: 20px;
  }
  
  .warning-message {
    background: #FFCD07 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    top: 50px;
    margin: 0;

    img {
      vertical-align: middle;
    }

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 8px;
      border: 5px solid transparent;
      border-bottom-color: #FFCD07;
    }
  }
}